aiomysql
annotated-types
anyio
certifi
click
colorama
databases
dnspython
email_validator
fastapi
greenlet
h11
httpcore
httptools
httpx
idna
inflect
itsdangerous
Jinja2
MarkupSafe
orjson
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
PyMySQL
python-dotenv
python-multipart
PyYAML
setuptools
sniffio
sqlacodegen
SQLAlchemy
starlette
typing_extensions
ujson
uvicorn
watchfiles
websockets
